#fitem_id_email{
	position:relative !important;
	margin:0 !important;
}
.form_header{width:auto !important; margin-left:40px !important; padding-right:50px;}
#fitem_id_newpassword{clear:left !important;}
#fitem_id_class{
	float:none !important;
	margin: 0 0 0 0 !important;
    clear:left !important;
}
input[type="submit"], input[type="button"]{background-image: linear-gradient(to bottom, #82878C 0%, #40454A 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82878C', endColorstr='#40454A',GradientType=0 ) !important; /* IE6-9 */
}
input[type="submit"]:hover, input[type="button"]:hover{background-image: linear-gradient(to bottom, #40454A 0%, #40454A 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40454A', endColorstr='#40454A',GradientType=0 ) !important; /* IE6-9 */
}
.content .toggledsection ul li .lesson .lesson-button {
    background: #0dd620; /* Old browsers */
background: -moz-linear-gradient(top, #0dd620 0%, #0a9517 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0dd620), color-stop(100%,#0a9517)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0dd620 0%,#0a9517 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0dd620 0%,#0a9517 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0dd620 0%,#0a9517 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #0dd620 0%,#0a9517 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd620', endColorstr='#0a9517',GradientType=0 ) !important; /* IE6-9 */
border:1px solid #0A9517 !important;
line-height:20px !important;
padding:9px 0 9px 0 !important;
}
.content .toggledsection ul li .lesson .lesson-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a9517', endColorstr='#0a9517',GradientType=0 ) !important; /* IE6-9 */
	background: red !important; /* Old browsers */
	border:1px solid #0A9517 !important;
	line-height:20px !important;
padding:9px 0 9px 0 !important;
}
.content .toggledsection ul li .inprogress .lesson-button {
   background: #00c1e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #00c1e8 0%, #0099cc 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c1e8), color-stop(100%,#0099cc))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00c1e8 0%,#0099cc 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00c1e8 0%,#0099cc 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00c1e8 0%,#0099cc 100%)!important; /* IE10+ */
	background: linear-gradient(to bottom,  #00c1e8 0%,#0099cc 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c1e8', endColorstr='#0099cc',GradientType=0 )!important; /* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c1e8', endColorstr='#0099cc', GradientType=0) !important;	
    border: 1px solid #2192A9 !important; 
border:1px solid #2192A9 !important;
line-height:20px !important;
padding:9px 0 9px 0 !important;
}
.content .toggledsection ul li .inprogress .lesson-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099CC ', endColorstr='#0099CC ',GradientType=0 ) !important; /* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099CC', endColorstr='#0099CC', GradientType=0) !important;	
	border:1px solid #2192A9 !important;
	line-height:20px !important;
padding:9px 0 9px 0 !important;
}
.content .toggledsection ul li .completed .lesson-button {
   background: #82878C ; /* Old browsers */
 background: -moz-linear-gradient(top,  #82878C  0%, #40454A  100%) !important; /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82878C), color-stop(100%,#40454A ))!important; /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #82878C 0%,#40454A  100%)!important; /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #82878C 0%,#40454A  100%)!important; /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #82878C 0%,#40454A  100%)!important; /* IE10+ */
 background: linear-gradient(to bottom,  #82878C 0%,#40454A  100%)!important; /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82878C', endColorstr='#40454A ',GradientType=0 )!important; /* IE6-9 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82878C', endColorstr='#40454A', GradientType=0) !important; 
    border: 1px solid #5B5B5B  !important; 
line-height:20px !important;
padding:9px 0 9px 0 !important;
}
.content .toggledsection ul li .completed .lesson-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40454A ', endColorstr='#40454A ',GradientType=0 ) !important; /* IE6-9 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40454A', endColorstr='#40454A', GradientType=0) !important; 
 border:1px solid #5B5B5B  !important;
 line-height:20px !important;
padding:9px 0 9px 0 !important;
}
.fitem_fcheckbox{clear:both !important;}
#fitem_id_class{left:0 !important; position:relative !important;}

.content .toggledsection ul li .completed_admin .lesson-button{ 
 text-shadow: -1px -1px 0px rgba(90, 90, 90, 1);
    /*background-image: linear-gradient(to bottom, #82878C, #40454a) !important;*/
 /*ss-16072013*/
 background: #82878c !important; /* Old browsers */
 background: -moz-linear-gradient(top,  #82878c 0%, #40454a 100%) !important; /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82878c), color-stop(100%,#40454a)) !important; /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #82878c 0%,#40454a 100%) !important; /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #82878c 0%,#40454a 100%) !important; /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #82878c 0%,#40454a 100%) !important; /* IE10+ */
 background: linear-gradient(to bottom,  #82878c 0%,#40454a 100%) !important; /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82878c', endColorstr='#40454a',GradientType=0 ) !important; /* IE6-9 */
 
 /*ss-16072013*/ 
    border: 1px solid #5B5B5B !important;
}
.content .toggledsection ul li .completed_admin .lesson-button:hover{ 
 text-shadow: -1px -1px 0px rgba(90, 90, 90, 1);
    /* background:  #40454a !important; */
 /*ss-16072013*/
 background: #40454a !important; /* Old browsers */
 background: -moz-linear-gradient(top,  #40454a 0%, #40454a 100%) !important; /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40454a), color-stop(100%,#40454a)) !important; /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #40454a 0%,#40454a 100%) !important; /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #40454a 0%,#40454a 100%) !important; /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #40454a 0%,#40454a 100%) !important; /* IE10+ */
 background: linear-gradient(to bottom,  #40454a 0%,#40454a 100%) !important; /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40454a', endColorstr='#40454a',GradientType=0 ) !important; /* IE6-9 */
 /*ss-16072013*/ 
    border: 1px solid #5B5B5B !important;}

