.login-box {
    height: 250px;
    margin: 160px auto;
    top: 50%;
    width: 700px;
}

.loginbox .loginform {
    margin-top: 1em;
    text-align: left;
    margin-right: 147px;
}

.login_attr{
    width: 274px;
}

.inner-shadow {
    background-image: url([[pix:theme|body/lesson_list_bg]]);
    border: 1px solid white;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
}

.btn-grey {
    background-color: #40454A !important;
    background-image: linear-gradient(to bottom, #82878C 0%, #40454A 100%);
	background: #82878c; /* Old browsers */
	background: -moz-linear-gradient(top,  #82878c 0%, #40454a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82878c), color-stop(100%,#40454a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #82878c 0%,#40454a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #82878c 0%,#40454a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #82878c 0%,#40454a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #82878c 0%,#40454a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82878c', endColorstr='#40454a',GradientType=0 ); /* IE6-9 */

    border: 1px solid #5B5B5B;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
}

.btn-grey:hover {
	background: #40454a !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #40454a 0%, #40454a 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40454a), color-stop(100%,#40454a)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #40454a 0%,#40454a 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #40454a 0%,#40454a 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #40454a 0%,#40454a 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #40454a 0%,#40454a 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40454a', endColorstr='#40454a',GradientType=0 ) !important; /* IE6-9 */
}
.pull-right {
    float: right;
}

